* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

#content {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
    height: 650px;
}


/* log in */


.user-icon {
    display: inline;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
}

/* Coming Soon continut */

.wait-round{
    background: url("../images/coming-soon.jpg");
    position: absolute;
    height: 80%;
    width:90%;
    margin: 1px 0px 0px 70px;
    background-position: center;
    background-size: cover;
    color:black;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
    
