* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

/* Color Scheme */

.sky,
.sky:hover {
    color: #A9A9A9!important;
    background-color: #CAEBF2!important;
}

.carbon,
.carbon:hover {
    color: #EFEFEF!important;
    background-color: #A9A9A9!important;
}

.red,
.red:hover {
    color: #EFEFEF!important;
    background-color: #FF3B3F!important;
}

.neutral,
.neutral:hover {
    background-color: #151515;
}

/* Text Color */

.skyText,
.skyText:hover {
    color: #CAEBF2!important;
}

.carbonText,
.carbonText:hover {
    color: #A9A9A9!important;
}

.redText {
    color: #FF3B3F!important;
}

.redText:hover {
    opacity: 0.7;
}

.neutralText,
.neutralText:hover {
  background-color: #151515;
} 

/**
*
*     HEADER 
*
*/

.header {
    transition: 0.5s;
    overflow: hidden;
    padding: 15px 10px;
    left: 0;
    top: 0;
    position: sticky;
    margin-top: 0;
    background-color: #151515;
}

.hr-dashed{
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b5e853;
    color: #b5e853;

}
/* logo */

.logo a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
}

.logo a:hover {
    background-color: #ddd;
    color: #151515;
}

/* log in */

.user-icon {
    display: inline;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
}
 
.header-right {
    float: right;
    margin-top: 10px;
}

.make-me-inline {
    display: inline;
    margin: 5px;
    vertical-align: middle;
}

.make-me-inline a {
    text-decoration: none;
    color: #A9A9A9!important;
} 

.header input[type=text],
.header input[type=password] {
    padding: 10px;
    width: 160px;
    font-size: 11pt;
    line-height: 14px;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    background-color: #4CAF50;
    border-radius: 6px;
    border-color: #4CAF50;
    color: white;
    padding: 9px 30px;
    font-size: 12pt;
    cursor: pointer;
}

.registerText {
    float: right;
    padding-top: 10px;
}

.registerText a {
    color: #FF3B3F;
}


/** 
*
*   SIDE MENU
*  
**/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    color: #ccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* materii */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ccc;
}

/* x button */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/** 
*
* CONTENT
*  
*/

#content {
    transition: margin-left .5s;
    padding: 16px;

}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    color:#EFEFEF;
}

/**
*
*     FOOTER 
*
*/

.footer {
    transition: 0.5s;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #151515;
    color: white;
}



@media screen and (max-height: 480px) {
    .sidenav {
        padding-top: 15px;
        margin-top: 0px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .header a {
        float: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    .header-right {
        margin-top: 15px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
}
