.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    color: white;
}

hr {
    margin: auto;
    width: 40%;
}

.footer {
    position: absolute;
}

/* Galaxy S5 */
@media (min-width: 320px) and (max-height: 812px){
    .logo {
        text-align: center;
    }
    .header-right {
        margin-top: 0;
        float: none;
        padding: 2% 16% 0% 16%;
    }
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }

    p > #demo {
        font-size: 20px;
    }

    .center {
        top: 60%;
        left: 50%;
        text-align: center;
        line-height: 2;
    }

    input[type=submit] {
        padding: 4px 20px;
    }
    .make-me-inline {
        margin: 10px;
    }
}

/* iPhone 6/7/8 */
@media (min-width: 320px) and (max-height: 736px){
    .header-right{
        padding: 2% 1% 0% 15%;
    }
}
    
/* iPhone 6/7/8 Plus, iPhone X*/
@media (min-width: 320px) and (max-height: 812px){
    .header-right{
        padding: 2% 1% 0% 19%;
    }
}


