.container {
    border: 1px dashed #b5e853;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    margin: 100px;
    height: 40%;
}

.course-prognose{
    align-content: center;

}

.title {
    margin: 15px 5px 10px 5px;
    text-align: center;
    color: #fff;
}