* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

body {
    background-color: #151515;
    color: #ddd;;
}

body, html {
    height: 100%;
    line-height: 2.3;
}

/* Header -de scos sa nu fie duplicat*/

.header {
    transition: 0.5s;
    overflow: hidden;
    padding: 15px 10px;
    left: 0;
    top: 0;
    margin-top: 0;
    background-color: #151515;
}

.hr-dashed{
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b5e853;
    color: #b5e853;

}


.header input[type=text],
.header input[type=password] {
    padding: 10px;
    width: 160px;
    font-size: 11pt;
    line-height: 14px;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    background-color: #4CAF50;
    border-radius: 6px;
    border-color: #4CAF50;
    color: white;
    padding: 9px 30px;
    font-size: 12pt;
    cursor: pointer;
}

/* logo */

.logo a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
}

.logo a:hover {
    background-color: #ddd;
    color: #151515;
}

/* log in */

.user-icon {
    display: inline;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
}
 
.header-right {
    float: right;
    margin-top: 10px;
}

.make-me-inline {
    display: inline;
    margin: 5px;
    vertical-align: middle;
}

.make-me-inline a {
    text-decoration: none;
    color: #A9A9A9!important;
} 

/*continut vechi*/
/* Pentru toata coloana */
.news-col {
    position: absolute;
    height: 100%;
    right: 20px;
    width: 300px;
}

.rss-feed {
    height: 126.5px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.calendar, .rss-feed {
    display: block;
}

/* Titlu */
.rss-text {
    font-size: 17px;
    background-color: #6595da; 
    line-height: 30px;
    margin: 15px 5px 10px 5px;
    text-align: center;
    color: #fff;
}

/* Continut pentru casute */
.rss-subtext { 
    color: #222;
    cursor: pointer;
    padding-left:20px;
    font-size: 14px;
    text-decoration: none;
}

.rss-image {
    background: url("../public/images/rss.png") no-repeat 0% 50%;
    margin: 0px 0px 10px 5px;
}

ul {
    list-style-type: none;
}


/* Month header */
.month {
    position: relative;
    padding: 70px 25px;
    width: 100%;
    background: url("../public/images/calendar.jpg") no-repeat 0% 50%;
    text-align: center;
}

.transparent {
    position: absolute;
    width: 300px;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    bottom: 0px;
    left:0px;
    padding: 10px;
}

.transparent li {
    color: #fff !important;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: #666;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #7ee465;
    color: white !important
}

/*  /continut vechi  */



/* Schimbat */

.main-content {
    transition: margin-left .4s;
    color: #ddd;
    position: relative;
}

.paragraph-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.paragraph-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

.clear:before, .pg-container:before{
    content: "";
    display: table;
    clear: both;
}

.position-paragraph, .position-details, .info-section  {
    float: left;
    width: 100%;
}

.txt-color {
    color: #1797a5!important;
}

.to-align {
    text-align: center!important;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.pg-container a {
    text-decoration: none;
    color: #506dc1;
    font-size: 14px;
}

.pg-border {
    border: 1px solid #ccc!important; 
}

.pg-padding-large {
    padding: 12px 24px!important;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.pag-center .pagination {
    display: inline-block;
    width: auto;
}

.pag-center {
    padding: 2% 15%!important;
}

.button-black, .button-black-hover:hover, .info-color {
    color: #fff!important;
    background-color: #000!important;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.info-margin {
    margin: 16px!important;
}

.info-padding {
    padding: 8px 16px!important;
}

/* .news {
    float: left;
} */

.tags {
    width: 100%;
}

/* Footer de scos */
.footer {
    color: white;
    transition: 0.5s;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #090909e0;
}

@media (max-width: 992px){
    .main-content  {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

@media (min-width: 601px){
    .position-paragraph {
        width: 50%;
    }

    p, .pag-center, .pg-details {
        width: 100%;
    }

    .pag-center {
        padding: 2% 15%!important;
    }

    .news {
        width: 60%;
    }

    .info-section {
        width: 40%;
    }
}