* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 24px;
}

body {
    background-color: black;
}

body, html {
    height: 100%;
    line-height: 2.5;
}

/* Header */

.header {
    color: #000!important;
    background-color: #ffffffe6!important;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    width: 100%;
}

.hr-dashed {
    height: 0;
    border: 0;
    border-bottom: 1px dashed white;
}

h1 {
    font-weight: 400;
}

.logo {
    background-color: #000;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
}

.display-logo {
    display: inline-block;
    padding: 0px 128px;
}

/* Log in section */
.form {
    padding: 30px 30px;
    float: right;
}

.header input[type=text],
.header input[type=password] {
    padding: 10px;
    width: 30%;
    font-size: 11pt;
    /* line-height: 14px; */
    border: none;
    background: #ffffffa1;
}

input[type=submit] {
    background-color: #2c2c2c;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 12pt;
    text-decoration: none;
    cursor: pointer;
}


/* Full image */

.background-transparent {
    background-color: #090909c9;
    /* width: 100%; */
}

.img-cover {
    background-position: center;
    background-size: cover;
    background-image: url("../public/images/home-cover.png");
    min-height: 90%;
    position: relative;
}

.display-left {
    position: absolute;
    /* top: 35%; */
    padding: 20% 0%;
    left: 0%;
    width:100%;
}

.display-block {
    display: block;
    padding: 10px 130px!important;
}

.text-white {
    color: white;
}

.title-size {
    font-size: 64px!important;
}

.subtitle-size {
    font-size: 18px!important;
}

.large {
    font-size: 36px!important;
    /* margin-top: 5px; */
}

/* Create account button */

.create-account {
    padding: 0px 130px;
}

.button {
    background-color: #ffffffde!important;
    border: none;
    color: #000!important;
    cursor: pointer;
    display: inline-block;
    margin-top: 16px!important;
    opacity: 0.80;
    overflow: hidden;
    padding: 12px 24px!important;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.button-white:hover {
    background-color: #fff!important;
}

.button-opacity:hover {
    opacity: 1;
}

/* Application details */
.app-details-section {
    color: #fff!important;
    background-color: #a29d9d99!important;
    line-height: 1.8;
}

/* .details {
    padding: 10px 0px;
} */


/* Contact Section*/
.contact {
    color: #000!important;
    background-color: #f1f1f1!important;
    min-height: 80%;
    position: relative;
}

.margin-top {
    margin-top: 5em;
}

.to-align {
    text-align: center!important;
}

.contact-info-left {
    width: 100%;
    display: inline-block;
    /* height: 400px; */
    left: 40px;
}

.info {
    display: inline-block;
    width: 1.3em;
}

.check-in-icon {
    background: url("../public/images/check.png") no-repeat 0% 50%;
}

.phone-icon {
    background: url("../public/images/to-call.png") no-repeat 0% 50%;
}

.mail-icon {
    background: url("../public/images/mail-icon.png") no-repeat 0% 50%;
}

ul {
    list-style-type: none;
}

.pad-left {
    padding-left: 45px;
}

/* our team */

.team-member {
    display: inline-block;
    padding: 30px 0px 30px 70px;
}

.potato-head {
    /* display: inline-block; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.potato-head:hover {
    opacity: 0.60;
}

/* Google maps */
.g-map {
    float: right;
    width: 45%; 
    height: 400px; 
    overflow: hidden;
    right: 40px;
}

.footer {
    color: white;
    transition: 0.5s;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* padding: 20px; */
    background-color: #090909e0;
}

.contact, .app-details-section, .footer {
    padding: 128px 130px;
}


@media (max-width: 600px){
    .hide-small {
        display: none!important;
    }

}

@media (max-width: 992px) and (min-width: 601px){
    .hide-medium {
        display: none!important;
    }
}

@media (min-width: 993px){ 
    .hide-large {
        display: none!important;
    }
}
@media (min-width: 601px){
    .contact-info-left {
        width: 49.99999%;
    }
}