<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX | Page Not Found</title>
    <link rel="stylesheet" href="../../public/404.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
    <h1>ProGnosiX Error Page</h1>
    <div class="error-content content-opacity">
        <h1>404</h1>
        <h2>Ne cerem scuze!</h2>
        <h3>Pagina pe care o căutați nu a putut fi gasită.</h3>
        <a href="./login.view.html" class="button">Pagina Principală</a>
    </div>
</body>

<footer class="footer" id="footer">
    &copy; Copyright 2018.
</footer>

</html>