<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX</title>
    <link rel="stylesheet" href="../../public/hfsm-style.css">
    <link rel="stylesheet" href="../../public/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
    <div class="header neutral" id="header">
        <div class="logo">
            <a href="./login.view.html">ProGnosiX</a>
        </div>
        <div class="header-right">
            <div class="form make-me-inline">
                <input type="submit" value="Logout">
            </div>
        </div>
    </div>

    <hr class="hr-dashed">\

    <div id="content" class="admin-content">
        <form action="../controllers/round.controller.php" method="POST" class="container">
            <div class="choose">
                <button class="button-year" type="button">Alegeți anul</button>
                <select name="selectYear" class="button-year-content">
                    <option value="1">Anul 1</option>
                    <option value="2">Anul 2</option>
                    <option value="3">Anul 3</option>
                </select>
            </div>
            <div class="choose_1">
                <button class="button-sgroup" type="button">Alegeți materia</button>
                <select name="selectCourse" class="button-sgroup-content">
                    <option value="TW">Tehnologii Web</option>
                    <option value="PSGBD">PSGBD</option>
                    <option value="PA">Programare Avansată</option>
                    <option value="IP">Ingineria Programării</option>
                    <option value="OPT">Opțional</option>
                    <option value="LE">Limba Engleză</option>
                </select>
            </div>
            <div class="choose_2">
                <button class="button-type" type="button">Alegeți tipul de examinare</button>
                <select name="selectType" class="button-type-content">
                    <option value="lab">Laborator</option>
                    <option value="course">Curs</option>
                </select>
            </div>
            <h2>Pentru alegerile tale: </h2>
            <input type="date" required name="start_time" placeholder="Te rog specifică o dată">
            <input type="date" required name="end_time" placeholder="Te rog specifică o dată">
            <button name="activate_round" type="submit" class="result-button button-white vutton-opacity">Activează runda</button>
        </form>
    </div>





</html>