<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX | Profil</title>
    <link rel="stylesheet" href="../../public/hfsm-style.css">
    <link rel="stylesheet" href="../../public/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
    <div class="header neutral" id="header">
        <div class="logo">
            <a href="index.html">ProGnosiX</a>
        </div>
        <div class="header-right">
            <div class="form make-me-inline">
                <input type="submit" value="Logout">
            </div>
        </div>
    </div>

    <hr class="hr-dashed">

    <div id="content" class="admin-content">
        <div class="choose">
            <button class="button-year">Alegeți anul studentului</button>
            <div class="button-year-content">
                <a href="#">Anul 1</a>
                <a href="#">Anul 2</a>
                <a href="#">Anul 3</a>
            </div>
        </div>
        <div class="choose_1">
            <button class="button-sgroup">Alegeți semianul studentului</button>
            <div class="button-sgroup-content">
                <a href="#">A</a>
                <a href="#">B</a>
            </div>
        </div>
        <div class="choose_2">
            <button class="button-group">Alegeți grupa studentului</button>
            <div class="button-group-content">
                <a href="#">Grupa 1</a>
                <a href="#">Grupa 2</a>
                <a href="#">Grupa 3</a>
                <a href="#">Grupa 4</a>
                <a href="#">Grupa 5</a>
                <a href="#">Grupa 6</a>
                <a href="#">Grupa 7</a>
            </div>
        </div>
        <div class="choose_3">
            <button class="button-course">Alegeți materia la care predați</button>
            <div class="button-course-content">
                <a href="#">Tehnologii Web</a>
                <a href="#">Ingineria Programării</a>
                <a href="#">Programare Avansată</a>
                <a href="#">Opțional</a>
                <a href="#">Engleză</a>
                <a href="#">PSGBD</a>
            </div>
        </div>
        <h2>Pentru alegerile tale: </h2>
        <button href="./register.view.html" class="result-button button-white vutton-opacity">Încarcă rezultate</button>
    </div>

    <footer class="footer" id="footer">
        &copy; Copyright 2018.
    </footer>
</body>

</html>