<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX</title>
    <link rel="stylesheet" href="../../public/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body>
    <header class="header neutral" id="header">
        <div class="logo">
            <a href="index.html">ProGnosiX</a>
        </div>
        <div class="header-right">
            <span class="make-me-inline carbonText">Hello,
                <a href="profile.html">
                    <img src="../../public/images/user-icon.png" alt="User icon" class="user-icon">
                </a>
            </span>
            <div class="form make-me-inline">
                <input type="submit" value="Logout">
            </div>
        </div>
    </header>
    <hr class="hr-dashed">

    <!-- Main content -->
    <div class="main-content" style="margin-left:250px">

        <div class="clear paragraph-padding-64">
            <div class="position-paragraph pg-container">
                <h1 class="txt-color">Titlu</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="position-paragraph pg-container">
                <p class="pg-border pg-padding-large pg-padding-32 to-align">RSS</p>
                <p class="pg-border pg-padding-large pg-padding-64 to-align">Subscribe</p>
            </div>
        </div>

        <div class="clear paragraph-padding-64">
            <div class="position-paragraph pg-container">
                <h1 class="txt-color">Titlu</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="position-paragraph pg-container">
                <p class="pg-border pg-padding-large pg-padding-32 to-align">RSS</p>
                <p class="pg-border pg-padding-large pg-padding-64 to-align">Subscribe</p>
            </div>
        </div>

        <div class="clear paragraph-padding-64">
            <div class="position-paragraph pg-container">
                <h1 class="txt-color">Titlu</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="position-paragraph pg-container">
                <p class="pg-border pg-padding-large pg-padding-32 pag-center">RSS</p>
                <p class="pg-border pg-padding-large pg-padding-64 pag-center">Subscribe</p>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pag-center pg-padding-32">
            <div class="pagination">
                <a class="button button-black" href="#">1</a>
                <a class="button button-black-hover" href="#">2</a>
                <a class="button button-black-hover" href="#">3</a>
                <a class="button button-black-hover" href="#">4</a>
                <a class="button button-black-hover" href="#">5</a>
                <a class="button button-black-hover" href="#">»</a>
            </div>
        </div>

    </div>

    <footer class="footer" id="footer">
            &copy; Copyright ProGnosiX Team 2018
    </footer>
</body>

</html>


<!-- <div id="content">
            <div class="news-col">
                    <div class="rss-feed">
                        <h1 class="rss-text">Keep in Touch</h1>
                        <ul>
                            <li class="rss-image">
                                <a class="rss-subtext" href="#" title="Subscribe to RSS Feed">RSS Feed</a>
                            </li>
                            <li class="rss-image">
                                <a class="rss-subtext" href="#" title="Subscribe to posts via RSS feed">RSS Feed for Posts</a>
                            </li>
                        </ul>
                    </div>
        
                    <div class="calendar">
                        <div class="month">
                            <ul class="transparent">
                                <li class="prev">&#10094;</li>
                                <li class="next">&#10095;</li>
                                <li> April 2018</li>
                            </ul>
                        </div>
        
                        <ul class="weekdays">
                            <li>Mo</li>
                            <li>Tu</li>
                            <li>We</li>
                            <li>Th</li>
                            <li>Fr</li>
                            <li>Sa</li>
                            <li>Su</li>
                        </ul>
        
                        <ul class="days">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>
                                <span class="active">13</span>
                            </li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                        </ul>
                    </div>
                </div>
    </div> -->