<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX</title>
    <link rel="stylesheet" href="../../public/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body>

    <!-- Header -->
    <header class="header clearfix">
        <h1 class="display-logo">
            <b>Welcome to
                <a href="./login.view.html"><span class="logo">ProGnosiX</span></a>
            </b>
        </h1>
        <form  action="../controllers/login.controller.php" method="POST" class="form">
            <input type="text" placeholder="Nume de utilizator..." name="username" required>
            <input type="password" placeholder="Parolă..." name="psw" required>
            <input type="submit" value="Log In" name="submit_login">
        </form>
    </header>

    <!-- Log in / register section -->
    <div class="img-cover clearfix">
        <hr class="hr-dashed">
        <div class="display-left text-white clearfix">
            <div class="background-transparent">
                <span class="display-block title-size">Ai curaj să-ți pui nota la încercare?</span>
                <span class="display-block subtitle-size">Dacă răspunsul este DA, FII curajos și fă-ți un cont!</span>
            </div>
            <br>
            <p class="create-account">
                <a href="./register.view.html" class="button subtitle-size button-white button-opacity">Creează-ți un cont acum</a>
            </p>
        </div>
    </div>

    <!-- Application details -->

    <div class="app-details-section">
        <h3 class="to-align text-white">Despre aplicație</h3>
        <br>
        <p class="details subtitle-size text-white to-align">
            ProGnosiX este o aplicație Web ce permite studenților de la Facultatea de Informatică, să ghicească ce note vor obține la
            anumite probe de evaluare -- teste, examene. Când se afișează rezultatele, dacă notele ghicite vor coincide sau
            nu cu cele reale, punctajele ar putea crește/scade, după situație. Cu alte cuvinte, dacă ești student la FII,
            ai mai avea o șansă să obții minimul visat, dacă se aliniază stelele în favoarea ta. Dar ține cont de un lucru:
            nu te poți răzgândi... Ai avea curaj să riști? </p>
    </div>

    <!-- Contact section -->
    <div class="contact">
        <h3 class="to-align">CONTACT</h3>
        <div class="contact-info-left margin-top clearfix">

            <div>
                <div class="team-member">
                    <img src="../../public/images/codruta.png" class="potato-head">
                    <p class="to-align">Codruța</p>
                </div>
                <div class="team-member">
                    <img src="../../public/images/raluca.png" class="potato-head">
                    <p class="to-align">Raluca</p>
                </div>
            </div>

            <ul class="pad-left">
                <li class="check-in-icon">
                    <i class="info to-align large"></i>Iași, RO</li>
                <li class="phone-icon">
                    <i class="info to-align large"></i>Phone: 0748 022 866</li>
                <li class="mail-icon">
                    <i class="info to-align large"></i>Email: prognosix@gmail.com
                </li>
            </ul>
        </div>

        <!-- Google Map -->
        <div id="google-map" class="g-map margin-top"></div>
    </div>

    <script src="../../public/google_maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5WeMOGA2ezX4oAVZBatY-R9R52Gc9QnA&callback=myMap"></script>

    <footer class="footer" id="footer">
        &copy; ProGnosiX Team 2018
    </footer>

</body>

</html>