<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX</title>
    <link rel="stylesheet" href="../../public/login_failed.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
    <div class="failed-content content-opacity">
        <h4>Login eșuat!</h4>
        <h5>Numele de utilizator sau parola sunt incorecte.</h5>
        <h5>Încearcă din nou
        <a href="./login.view.html" class="button">aici.</a>
        </h5>
    </div>
</body>

<footer class="footer" id="footer">
    &copy; Copyright ProGnosiX Team 2018
</footer>