<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProGnosiX</title>
    <link rel="stylesheet" href="../../public/rss.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
    <div class="header neutral" id="header">
        <div class="logo">
            <a href="./login.view.html">ProGnosiX</a>
        </div>
        <div class="header-right">
            <span class="make-me-inline">Hello,
                <a href="./profile.view.html">
                    <img src="../../public/images/user-icon.png" alt="User icon" class="user-icon">
                </a>
            </span>
            <div class="form make-me-inline">
                <input type="submit" value="Logout">
            </div>
        </div>
    </div>

    <div id="navMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
        <a href="TW.html">Tehnologii Web</a>
        <a href="PSGBD.html">PSGBD</a>
        <a href="PA.html">Programare Avansată</a>
        <a href="IP.html">Ingineria Programării</a>
        <a href="Optional.html">Opțional 2</a>
        <a href="Engleza.html">Limba Engleză</a>
    </div>

    <div id="content">
        <hr class="hr-dashed">
        <span class="burger-menu" onclick="toggleNav()">&#9776;</span>
        <h1>Noutăți</h1>
        <div class="title-news title-opacity">
            <h2>Tehnologii Web</h2>
            <span itemprop="name">Publicat de: admin |</span>
            <span itemprop="dateTime">Data: 05.05.2018</span>
            <div class="paragraph">
                <p>Runda este momentan inactivă. Pentru a vă putea ghici nota, trebuie să așteptați până la runda următoare.</p>
            </div>
            <button href="./login.view.html" class="course-button">Citește mai departe</button>
            <h2>Programare Avansată</h2>
            <span itemprop="name">Publicat de: admin |</span>
            <span itemprop="dateTime">Data: 05.05.2018</span>
            <div class="paragraph">
                <p>Au apărut rezultate finale. Consultați pagina materiei pentru mai multe detalii.</p>
            </div>
            <button href="./login.view.html" class="course-button">Citește mai departe</button>
            <h2>Ingineria Programării</h2>
            <span itemprop="name">Publicat de: admin |</span>
            <span itemprop="dateTime">Data: 05.05.2018</span>
            <div class="paragraph">
                <p>Runda este activă. Acum vă puteți ghici nota.</p>
            </div>
            <button href="./register.view.html" class="course-button">Citește mai departe</button>
            <h2>Practică SGBD</h2>
            <span itemprop="name">Publicat de: admin |</span>
            <span itemprop="dateTime">Data: 05.05.2018</span>
            <div class="paragraph">
                <p>Runda este momentan inactivă. Pentru a vă putea ghici nota, trebuie să așteptați până la runda următoare.</p>
            </div>
            <button href="./register.view.html" class="course-button">Citește mai departe</button>
            <h2>Limba Engleză</h2>
            <span itemprop="name">Publicat de: admin |</span>
            <span itemprop="dateTime">Data: 05.05.2018</span>
            <div class="paragraph">
                <p>Au apărut rezultate finale. Consultați pagina materiei pentru mai multe detalii.</p>
            </div>
            <button href="./register.view.html" class="course-button">Citește mai departe</button>
            <h2>Opțional</h2>
            <span itemprop="name">Publicat de: admin |</span>
            <span itemprop="dateTime">Data: 05.05.2018</span>
            <div class="paragraph">
                <p>Runda este activă. Acum vă puteți ghici nota.</p>
            </div>
            <button href="./register.view.html" class="course-button">Citește mai departe</button>
        </div>
    </div>

    <script src="../../public/sidemenu.js"></script>

    <footer class="footer" id="footer">
        Ultima actualizare: 06.05.2018.
    </footer>


</body>

</html>